<div class="content form-section-title cl-light-pur-1">
    <div class="bg-skelton">
      
        <input #input1 type="checkbox" class="input-bd_M-head" (change)="updateValue('inputBdMHead', $event)" [checked]="value?.inputBdMHead"/>
        <input #input1 type="checkbox" class="input-bd_F-head" (change)="updateValue('inputBdFHead', $event)" [checked]="value?.inputBdFHead"/>

      <input #input2 type="checkbox" class="input-bd_M-shoulder-l" (change)="updateValue('inputBdMShoulderL', $event)" [checked]="value?.inputBdMShoulderL"/>
      <input #input3 type="checkbox" class="input-bd_M-chest-tp" (change)="updateValue('inputBdMChestTp', $event)" [checked]="value?.inputBdMChestTp"/>
      <input #input3 type="checkbox" class="input-bd_M-shoulder-r" (change)="updateValue('inputBdMShoulderR', $event)" [checked]="value?.inputBdMShoulderR"/>

      <input #input2 type="checkbox" class="input-bd_F-shoulder-l" (change)="updateValue('inputBdFShoulderL', $event)" [checked]="value?.inputBdFShoulderL"/>
      <input #input3 type="checkbox" class="input-bd_F-chest-tp" (change)="updateValue('inputBdFChestTp', $event)" [checked]="value?.inputBdFChestTp"/>
      <input #input3 type="checkbox" class="input-bd_F-shoulder-r" (change)="updateValue('inputBdFShoulderR', $event)" [checked]="value?.inputBdFShoulderR"/>

      
      <input #input2 type="checkbox" class="input-bd_M-uperarm-l" (change)="updateValue('inputBdMUperArmL', $event)" [checked]="value?.inputBdMUperArmL"/>
      <input #input3 type="checkbox" class="input-bd_M-chest-cn" (change)="updateValue('inputBdMChestCn', $event)" [checked]="value?.inputBdMChestCn"/>
      <input #input3 type="checkbox" class="input-bd_M-uperarm-r" (change)="updateValue('inputBdMUperArmR', $event)" [checked]="value?.inputBdMUperArmR"/>

      <input #input2 type="checkbox" class="input-bd_F-uperarm-l" (change)="updateValue('inputBdFUperArmL', $event)" [checked]="value?.inputBdFUperArmL"/>
      <input #input3 type="checkbox" class="input-bd_F-uperarm-r" (change)="updateValue('inputBdFUperArmR', $event)" [checked]="value?.inputBdFUperArmR"/>


      <input #input2 type="checkbox" class="input-bd__hand-l" (change)="updateValue('inputBdHandL', $event)" [checked]="value?.inputBdHandL"/>
      <input #input3 type="checkbox" class="input-bd__chest-bt" (change)="updateValue('inputBdChestBt', $event)" [checked]="value?.inputBdChestBt"/>
      <input #input3 type="checkbox" class="input-bd__hand-r" (change)="updateValue('inputBdHandR', $event)" [checked]="value?.inputBdHandR"/>

    </div>
    
  </div>