<div style="width: 100%; font-family: 'Times New Roman'">
    <div style="font-family: inherit; font-weight: bold;">
      <h3 style="text-decoration: underline; font-weight: 600; text-transform: uppercase; text-align: center;"> Lexington police department</h3>
      <div style="padding: 0px;">
        <h5 style="margin: 0px; text-align: center; font-weight: 600;" > Early Intervention System Diposition Report</h5>
        <h5 style="text-align: center; font-weight: 600;" > Pursuant to LPD Policy & Procedure 50-05</h5>
      </div>
    </div>
    <div style="font-family: inherit; font-weight: bold;">
    </div>
</div>
