<div style="width: 100%; font-family: 'Times New Roman'">
    <div style="font-family: inherit; font-weight: bold;">
      <h3 style="text-decoration: underline; font-weight: 600; text-transform: uppercase; text-align: center;"> {{ properties?.formName != null ? properties?.formName: 'Header-Name updated dynamically'}}  </h3>
      <div style="padding: 0px;">
        <h5 style="margin: 0px; text-align: center; font-weight: 600;" > {{ properties?.description != null ? properties?.description: 'Description will updated dynamically'}} </h5>
        <h5 style="text-align: center; font-weight: 600;" > {{ properties?.subDescription != null ? properties?.subDescription: 'Sub Description will updated dynamically'}} </h5>
      </div>
    </div>
    <div style="font-family: inherit; font-weight: bold;">
    </div>
</div>