<app-navbar></app-navbar>
<div class="bd-masthead mb-3 content">
    <div class="container-xxl bd-gutter">
        <div class="col-md-8 mx-auto text-center">
            <a class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 text-dark lh-sm text-decoration-none">
                <strong class="d-sm-inline-block p-2 me-2 mb-2 mb-lg-0 rounded-3 masthead-notice">Dynamic eForms</strong>
                <span class="text-muted">Form Builer, Form Viewer, Modal, snackbars!</span>
            </a>
            <h1 class="mb-3 fw-semibold"> Welcome, eForms build dynamically less effort Required</h1>
        </div>
    </div>
</div>

