<div class="page-view-formio">
    <div class="page-actions">
        <a *ngIf="this.formId" [routerLink]="[]" (click)="viewSubmissionData()" class="btn btn-outline-success float-end mb-2" style="margin-left: 1em;">View Submission Data</a>
        <a [routerLink]="[]" (click)="navigateToFormBuilder()" class="btn btn-outline-danger float-end mb-2">Back to builder</a>
    </div>
    <div class="page-content" *ngIf="this.formId; else noOutlet">
        <div class="form-inline mb-3">
            <div class="form-group mb-2" >
                <label for="formId"><strong>Form Id</strong></label>
                <input type="text" class="form-control text-bg-light" id="formId" [ngModel]="formId" aria-describedby="formIdHelp" readonly>
                <small id="formIdHelp" class="form-text text-muted">Form Id for current form.</small>
            </div>
        </div>
        <div>
            <formio [form]="viewform" #formIO [refresh]="refreshForm" (submit)="onSubmit($event)"
            (render)="onRenderCompleted($event)" (ready)="ready($event)" [submission]="submissionData"></formio>
        </div>
    </div>
    <ng-template #noOutlet>
        <h4>No form defination available to view</h4>
    </ng-template>
</div>


<!-- <div class="mt-5">
    Submission Data
    <ngx-json-viewer [json]="submissionData"></ngx-json-viewer>
</div> -->